<legend>Listado de Tareas Completadas del usuario</legend>
<div class="row">
    <% @list.each_slice(4) do |row| %>
      <% row.each do |list| %>
        <div class="col">
          <div class="card">
            <%= image_tag list.todo.photo, class:'card-img-top' %>
            <div class="body">
              <h5><%= list.todo.name %></h5>
              <p><%= list.todo.description %></p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100"></div>
    <% end %>
</div>
